@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-color: #E2E2E2;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
  font-family: 'Inter', sans-serif;
}

@layer components {
  .genre-box {
    @apply flex basis-1/12 flex-grow h-32 rounded-md border
    border-gray-500 justify-center items-center hover:border-cyan-600
    hover:bg-cyan-600 transition-all ease-linear hover:text-white select-none
    cursor-pointer
  }

}