@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-color: #E2E2E2;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
  font-family: 'Inter', sans-serif;
}

@layer components {
  .genre-box {
    @apply flex basis-1/12 flex-grow min-h-max p-2 rounded-md border
    border-gray-500 justify-center items-center hover:border-cyan-600
    hover:bg-cyan-600 transition-all ease-linear hover:text-white select-none
    cursor-pointer text-sm text-center
  }

  .genre-box-selected {
    @apply border-cyan-600 text-white bg-cyan-600
  }

  .index-page {
    @apply overflow-y-scroll xl:snap-y xl:snap-mandatory h-screen scroll-smooth
  }

  .index-page > div {
    @apply snap-start
  }

  .btn-yellow {
    @apply p-4 bg-yellow-400 text-black font-bold text-center block rounded-sm
  }

  .book-tooltip {
    @apply absolute top-20 left-48 w-96 text-white bg-gray-900 py-3 px-7 shadow-md
    rounded-md transition-all ease-linear scale-0 z-50 select-none cursor-auto
  }
}